@use 'mixins' as *;
@use 'variables' as *;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font);
  background: var(--bg-page);
  color: var(--text-primary);

  font-size: 16px;
  line-height: 1.45;
  letter-spacing: -0.01em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  @include custom-scrollbar;
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-text);
}
