@use 'sass:math';
@use 'media' as *;
@mixin fluid-text($max: 48, $min: 16) {
  font-size: clamp(#{$min}px, #{math.div($max, 1440) * 100}vw, #{$max}px);
}

@mixin reset-link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-button {
  padding: 0;
  border-color: transparent;
  border: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin square($size) {
  width: $size;
  aspect-ratio: 1;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin custom-scrollbar {
  /* Firefox only (breaks webkit styles, fuck em)*/
  // @supports (scrollbar-width: thin) {
  //   scrollbar-width: thin;
  //   scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  // }

  &::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);

    &-track {
      background: var(--scrollbar-track);
      border-radius: 999px;
    }

    &-thumb {
      background: var(--scrollbar-thumb); // цвет полосы
      border-radius: 999px;
      border: 2px solid transparent;
      background-clip: content-box;
      transition: background 0.18s ease;

      @include hover {
        background: var(--scrollbar-thumb-hover);
      }

      &:active {
        background: var(--scrollbar-thumb-active);
        background-clip: content-box;
      }
    }
  }
}

@mixin tiny-scrollbar($width: 4) {
  &::-webkit-scrollbar {
    width: #{$width}px;

    &-track {
      background: var(--color-scrollbar-track);
      border-radius: 999px;
    }

    &-thumb {
      background: linear-gradient(
        to bottom,
        rgba(4, 239, 249, 0.15),
        var(--color-scrollbar-thumb),
        rgba(4, 239, 249, 0.1)
      );
      border-radius: 999px;

      box-shadow:
        0 0 10px rgba(4, 239, 249, 0.18),
        0 0 18px rgba(4, 239, 249, 0.1);

      transition:
        background 0.2s ease,
        box-shadow 0.2s ease;
    }

    // @include hover {
    //   background: linear-gradient(
    //     to bottom,
    //     rgba(4, 239, 249, 0.2),
    //     var(--color-scrollbar-thumb-hover),
    //     rgba(4, 239, 249, 0.14)
    //   );
    //   box-shadow:
    //     0 0 12px rgba(4, 239, 249, 0.24),
    //     0 0 22px rgba(4, 239, 249, 0.14);
    // }
  }
}

@mixin scroll-fade($heigth) {
  &::before,
  &::after {
    // display: block;
    content: '';
    position: sticky;
    left: 0;
    right: 0;
    display: block;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 5;
  }

  &::before {
    top: 0;
    background: linear-gradient(to bottom, rgb(3, 46, 70), rgba(8, 20, 30, 0));
  }

  &::after {
    bottom: 0;
    background: linear-gradient(to top, rgb(3, 46, 70), rgba(8, 20, 30, 0));
  }

  &.is-top-fade::before {
    min-height: #{$heigth}px;
    opacity: 1;
  }

  &.is-bottom-fade::after {
    min-height: #{$heigth}px;
    opacity: 1;
  }
}

@mixin scroll-fade-overlay($height) {
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: #{$height}px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 5;
  }

  &::before {
    top: 0;
    background: linear-gradient(to bottom, rgb(3, 46, 70), rgba(8, 20, 30, 0));
  }

  &::after {
    bottom: 0;
    background: linear-gradient(to top, rgb(3, 46, 70), rgba(8, 20, 30, 0));
  }

  &.is-top-fade::before {
    opacity: 1;
  }

  &.is-bottom-fade::after {
    opacity: 1;
  }
}
