@use 'mixins' as *;
@use 'variables' as *;

.page {
  min-height: 100vh;
  // padding: 72px 0 40px; // top space for theme button
}

.container {
  padding: 72px 0 40px;
  width: min(var(--container-max), calc(100% - (var(--container-pad) * 2)));
  margin: 0 auto;
  /* верхний fade, чтобы под хедером было мягко */
  // -webkit-mask-image: linear-gradient(to bottom, transparent 16px, #000 56px);
  // mask-image: linear-gradient(to bottom, transparent 10px, #000 34px);
}

// .page {
//   min-height: 100dvh; /* лучше чем 100vh на мобиле */
//   display: flex;
//   flex-direction: column;

//   /* убираем старые отступы */
//   padding: 0;
// }

// .container {
//   flex: 1 1 auto;
//   min-height: 0;

//   /* отступы, которые раньше были у .page */
//   padding: 12px 16px 40px;
// }
