@use 'media' as *;
:root {
  --radius-card: 14px;

  --container-max: 720px;
  --container-pad: 16px;

  --font: 'Manrope', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

  --gap-vertical: 14px; // or 16px

  --transition-duration: 0.2s;
}
