.habit-list {
  width: min(720px, 100%);
  padding: 0 14px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--gap-vertical);

  overflow-anchor: none;
}
