@use '../../base/core' as *;
.habit-row {
  user-select: none;
  -webkit-tap-highlight-color: transparent; //чтобы не было синего блика.
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;

  height: var(--row-height);
  width: 100%;
  padding: 10px 14px;

  background: var(--bg-card);
  border-radius: var(--radius-card);
  border: 1px solid var(--border-card);

  box-shadow: var(--shadow-card);
  transition:
    background 0.25s ease,
    box-shadow 0.25s ease,
    border-color 0.25s ease,
    transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
    color 0.25s ease;

  position: relative;

  &.habit-row--active {
    // transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: scale(1.02);
    box-shadow: 0 4px 20px var(--accent-blush-border);
    background: var(--bg-card-elevated);
    border: 1px solid var(--accent-blush-border);
    z-index: 10;
  }

  &__title {
    flex: 1;
    font-size: 16px;
    color: var(--text-primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    letter-spacing: var(--letter-spacing-tight);
  }

  &__title--input {
    width: 100%;
    height: 34px;
    padding: 6px 10px;
    border-radius: 10px;
    text-align: center;

    background: var(--input-bg);
    border: 1px solid var(--input-border);
    box-shadow: var(--input-shadow);

    color: var(--input-text);
    caret-color: var(--caret);

    font: inherit;
    letter-spacing: var(--letter-spacing-tight);

    // убираем “вордовский” дефолт
    outline: none;
    -webkit-appearance: none;
    appearance: none;

    transition:
      background 0.2s ease,
      border-color 0.2s ease,
      box-shadow 0.25s ease;

    &::placeholder {
      color: var(--input-placeholder);
    }

    @include hover {
      border-color: var(--input-border-hover);
    }

    &:focus-visible {
      border-color: var(--input-border-hover);
      box-shadow: var(--input-shadow), var(--input-shadow-focus);
    }
  }

  &__drag {
    transition: all 0.25s;
    color: var(--drag-color);
    height: 100%;
    aspect-ratio: 1;
    width: auto;
    opacity: 0.4;
    cursor: grab;
    user-select: none;

    @include hover {
      color: var(--drag-color-hover);
    }

    & svg {
      fill: currentColor;
    }
  }
  &__toggle {
    height: 100%;
    aspect-ratio: 1;
    width: auto;
  }
}
