@use '../../base/core' as *;
.habit-list {
  width: min(720px, 100%);
  padding: 0 14px;
  margin: 0 auto;

  padding-left: calc(var(--list-pad-inline) + env(safe-area-inset-left));
  padding-right: calc(var(--list-pad-inline) + env(safe-area-inset-right));

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--gap-vertical);

  overflow-anchor: none;
}
