@use '../../base/core' as *;

.theme-toggle {
  // position: fixed; - убрал в хедер
  // top: 16px;
  // right: 16px;
  // z-index: 50;

  width: 42px;
  height: 42px;
  border-radius: 999px;

  background: var(--toggle-bg);
  border: 1px solid var(--toggle-border);
  box-shadow: var(--shadow-soft);
  backdrop-filter: blur(10px);

  display: grid;
  place-items: center;

  cursor: pointer;
  transition:
    transform 0.12s ease,
    background 0.18s ease,
    box-shadow 0.18s ease;

  &__icon {
    color: var(--toggle-icon);
    stroke: currentColor;

    width: 18px;
    height: 18px;

    transition: color 0.18s ease;
  }

  &:hover {
    background: var(--toggle-bg-hover);

    &__icon {
      color: var(--toggle-icon-hover);
    }
  }

  &:focus-visible {
    outline: none;

    box-shadow:
      var(--shadow-soft),
      0 0 0 3px var(--toggle-ring);

    transform: translateY(-1px);
  }

  &:active {
    transform: scale(0.96);
  }
}

.theme-toggle:hover .theme-toggle__icon {
  color: var(--toggle-icon-hover);
}

[data-theme='dark'] .theme-toggle {
  // background: rgba(26, 26, 26, 0.65);
  // border: 1px solid rgba(57, 52, 128, 0.863);
  &:focus-visible {
    box-shadow:
      var(--shadow-soft),
      0 0 0 3px rgba(143, 163, 184, 0.28);
  }
}
